@import "bootstrap/dist/css/bootstrap.min.css";

.button-icon{
    display: inline-block;
    transform: rotate(180deg);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.box{
    width: 10px;
    height: 10px;
}