@import "bootstrap/dist/css/bootstrap.min.css";
html, body, #root {
    min-height: 100% !important;
    height: 100%;
}

.back-icon{
    display: inline-block;
    transform: rotate(180deg);
    font-size: 1.5rem;
    margin-right: 0.5rem;
}